@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNova-Regular.eot");
    src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Regular.woff2") format("woff2"),
        url("fonts/ProximaNova-Regular.woff") format("woff"),
        url("fonts/ProximaNova-Regular.ttf") format("truetype"),
        url("fonts/ProximaNova-Regular.svg#fonts/ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNova-Bold.eot");
    src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Bold.woff2") format("woff2"),
        url("fonts/ProximaNova-Bold.woff") format("woff"),
        url("fonts/ProximaNova-Bold.ttf") format("truetype"),
        url("fonts/ProximaNova-Bold.svg#fonts/ProximaNova-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.eot");
    src: url("fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
        url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
        url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.eot");
    src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/Roboto-Regular.woff2") format("woff2"),
        url("fonts/Roboto-Regular.woff") format("woff"),
        url("fonts/Roboto-Regular.ttf") format("truetype"),
        url("fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/ProximaNova-Semibold.eot");
    src: url("fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Semibold.woff2") format("woff2"),
        url("fonts/ProximaNova-Semibold.woff") format("woff"),
        url("fonts/ProximaNova-Semibold.ttf") format("truetype"),
        url("fonts/ProximaNova-Semibold.svg#fonts/ProximaNova-Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    /*z-index: 3;*/
    z-index: 5;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    color: #000000;
}

h2 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

h3 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

h4 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

h5 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

h5 {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 143.55%;
    color: #000000;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 143.55%;
    color: #656565;
}

p.p_italic {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #656565;
}

a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 143.55%;
    color: #656565;
}

li {
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 143.55%;
    color: #656565;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.offset_ziro {
    font-size: 0;
    line-height: 0;
}

.overflow_wrapp {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    opacity: .6;
    margin-top: -40px;
    background: #ffffff;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition-property: box-shadow, opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow, opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow, opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow, opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:hover {
    opacity: 1;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .5);
}

.slick-arrow img {
    display: block;
    width: 36px;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-prev {
    left: -21px;
}

.slick-prev img {
    left: -2px;
}

.slick-next {
    right: -21px;
}

.slick-next img {
    right: -6px;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 4px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent;
    position: relative;
    border: 2px solid #006df0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: #006df0;
}

/*-- /Slick --*/

/*-- Breadcrumbs --*/

.breadcrumbs_wrapp {
    padding: 40px 0 20px 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.breadcrumbs li:after {
    position: relative;
    top: -2px;
    left: 5px;
    content: "\2192";
    font-size: 13px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li a {
    border-bottom: 1px solid transparent;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.breadcrumbs li a:link,
.breadcrumbs li a:visited {
    border-bottom: 1px solid transparent;
}

.breadcrumbs li a:active,
.breadcrumbs li a.active {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li a:hover {
    border-bottom: 1px solid #333333;
}

.breadcrumbs li:last-child a {
    pointer-events: none;
    cursor: default;
    opacity: .6;
    border-bottom: 1px solid transparent;
}

/*-- /Breadcrumbs --*/

/*-- Pills --*/

.yellow_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 206px;
    cursor: pointer;
    background: #FFD500;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    -moz-box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 14px 10px 14px 10px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D1D1B;
}

.yellow_pill:hover {
    -webkit-box-shadow: 0 4px 26px rgba(249, 213, 24, .7);
    -moz-box-shadow: 0 4px 26px rgba(249, 213, 24, .7);
    box-shadow: 0 4px 26px rgba(249, 213, 24, .7);
}

/*-- /Pills --*/

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header_site {
    width: 100%;
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.header_row_wrapp {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.header_row_1 {
    display: flex;
    display: -webkit-flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_row_1 .col {
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
}

.header_row_1 .col:nth-child(1) {
    padding-left: 0;
    width: 27%;
}

.header_row_1 .col:nth-child(2) {
    width: 32%;
}

.header_row_1 .col:nth-child(3) {
    padding-right: 0;
    width: 41%;
    text-align: right;
}

.header_site p {
    padding: 4px 0;
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
    color: #FFFFFF;
}

.tel_wrapp {
    display: inline-flex;
    display: -webkit-inline-flex;
    max-width: 426px;
}

.tel_wrapp > .col:nth-child(1) {
    width: calc(100% - 160px);
    padding: 0;
}

.tel_wrapp > .col:nth-child(2) {
    width: 160px;
    padding: 0;
}

.tel_link {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:link,
.tel_link:visited {
    color: #ffffff;
}

.tel_link:active,
.tel_link.active {
    color: #FFD500;
}

.tel_link:hover {
    color: #FFD500;
}

.main_nav_sect {
    display: flex;
    display: -webkit-flex;
    /*margin: 0 -20px;*/
    position: relative;
}

.main_nav_sect .col:nth-child(1) {
    width: 25%;
    text-align: center;
}

.main_nav_sect .col:nth-child(2) {
    width: 75%;
}

.main_nav_wrapp {
/*    display: inline-block;
    vertical-align: top;*/
    /*margin: 0 5px;*/
}

.main_nav {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
     margin: 0 -20px;
}

.main_nav li {
    display: inline-block;
    vertical-align: top;
}

.main_nav li a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 15px 5px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.main_nav li a:after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    opacity: 0;
    background: #FFD500;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav li a:link:after,
.main_nav li a:visited:after {
    opacity: 0;
}

.main_nav li a:active:after,
.main_nav li a.active:after {
    opacity: 1;
}

.main_nav li a:hover:after {
    opacity: 1;
}


/* ----- Responsive Menu Button ------ */

.respmenubtn {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 90px;
    height: 46px;
    position: relative;
    background: transparent;
    cursor: pointer;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn .col:nth-child(1) {
    width: 64px;
    padding-top: 10px;
    text-align: left;
}

.respmenubtn .col:nth-child(2) {
    width: auto;
    padding-top: 13px;
}

.respmenubtn p {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.respmenubtn:after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    opacity: 0;
    background: #FFD500;
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn:link:after,
.respmenubtn:visited:after {
    opacity: 0;
}

.respmenubtn:active:after,
.respmenubtn.active:after {
    opacity: 1;
}

.respmenubtn:hover:after {
    opacity: 1;
}

.respmenubtn span {
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background: #ffffff;
    margin: 0 auto 8px auto;
    -webkit-transition-property: left;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: left;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: left;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: left;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: left;
    transition-duration: .3s;
    transition-timing-function: ease;
}

/*.respmenubtn span:nth-child(1) {
    margin-bottom: 0;
}*/

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn.active span {
    background: #FFD500;
}

.respmenubtn:hover span:nth-child(2) {
    left: 9px;
}

.respmenubtn.active span:nth-child(2) {
    left: 9px;
}

/* ----- / Responsive Menu Button ------ */

.main_nav_dropdown {
    display: none;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    overflow-y: auto;
    -webkit-box-shadow: 0 10px 12px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 12px 1px rgba(0,0,0,.1);
    box-shadow: 0 10px 12px 1px rgba(0,0,0,.1);
}

/*.main_nav_dropdown .col {
    display: inline-block;
    vertical-align: top;
    width: 33.33% !important;
}

.main_nav_dropdown .col {

}

.main_nav_dropdown .col {

}*/

.main_nav_dropdown_list {
    position: relative;
    width: 33.33%;
}

.main_nav_dropdown_list li {
    /*width: 33.33%;*/
    display: block;
    /*width: 100%;*/
    /*position: relative;*/
}

.main_nav_dropdown_list li a {
    display: block;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    text-align: left;
    padding: 8px 15px;
    position: relative;
    -webkit-transition-property: background, border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background, border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background, border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background, border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main_nav_dropdown_list li a:hover {
    background-color: #ffd300;
    border-bottom: 1px solid #ffd300;
    border-left: 1px solid #ffd300;
    border-right: 1px solid #ffd300;
}

.main_nav_dropdown_list li a.active {
    background-color: #ffd300;
    border-bottom: 1px solid #ffd300;
    border-left: 1px solid #ffd300;
    border-right: 1px solid #ffd300;
}

.main_nav_dropdown_list li a .arrow_btn {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border: none;
    background-color: transparent;
    background-image: url(img/arrow_nav.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
}

.menu_show_mask {
    display: none;
    width: 100%;
    height: 100%;
    /*z-index: 3;*/
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

.main_nav_dropdown_list li ul {
    display: none;
    width: 100%;
    /*width: 33.33%;*/
    position: absolute;
    top: 0;
    left: 100%;
}

.main_nav_dropdown_list li:hover > a + ul {
    display: block;
}

.main_nav_dropdown_list li a.active + ul {
    display: block;
}

.main_nav_dropdown_list ul.active {
    display: block !important;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

.bg_line_wrapp {
    width: 100%;
    height: 100%;
    max-width: 1210px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.bg_line_wrapp + .row {
    position: relative;
    z-index: 2;
}

.bg_line {
    width: 1px;
    height: 100%;
    background: rgba(100, 100, 100, .3);
    position: absolute;
    top: 0;
}

.bg_line:nth-child(1) {
    left: 20px;
}

.bg_line:nth-child(2) {
    left: calc(25% + 10px);
}

.bg_line:nth-child(3) {
    left: 50%;
}

.bg_line:nth-child(4) {
    left: calc(75% - 10px);
}

.bg_line:nth-child(5) {
    left: calc(100% - 20px);
}

/*-- Section 1 - Main Page --*/

.promo_sect {
    position: relative;
    padding: 1px 0;
}

.promo_sect .row {
    padding-top: 130px;
    padding-bottom: 0;
}

.promo_sect:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 2;
    background: linear-gradient(90deg, #000000 35.4%, rgba(0, 0, 0, 0) 70.12%);
}

.promo_sect:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .25);
}

.promo_img_sect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.promo_img_sect .row {
    display: flex;
    min-height: 100%;
    position: relative;
}

.promo_img {
    width: 100%;
    max-width: 608px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
}

.promo_img:before {
    content: "";
    width: 206px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -77px;
    z-index: 2;
    -webkit-background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -moz-background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.promo_img:after {
    content: "";
    width: 206px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 2;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.promo_img img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.promo_sect .content_row {
    position: relative;
    z-index: 4;
}

.promo_desc {
    max-width: 600px;
    margin: 15px 0 37px 0;
    position: relative;
}

.promo_desc h1 {
    padding: 12px 0;
    color: #FFFFFF;
}

.promo_desc p {
    padding: 12px 0;
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.promo_desc .yellow_pill {
    margin: 62px 0;
}

.tr_1 {
    position: absolute;
    top: 41%;
    right: 0;
}

.tr_2 {
    margin-left: 22px;
}

.tr_3 {
    display: block;
    position: absolute;
    bottom: -5px;
    left: 9%;
}

.promo_item {
    position: absolute;
    top: 193px;
    left: 50%;
}

.tr_lines_1 {
    position: absolute;
    top: -186px;
    left: -1036px;
}

.promo_item .descript {
    max-width: 294px;
}

.promo_item p {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.promo_item_2 {
    position: absolute;
    top: 320px;
    left: 59%;
}

.tr_lines_2 {
    position: absolute;
    top: -289px;
    left: -1119px;
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    transform: rotate(14deg);
}

.promo_item_3 {
    position: absolute;
    top: 479px;
    left: 51%;
}

.tr_lines_3 {
    position: absolute;
    top: -384px;
    left: -1168px;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    transform: rotate(25deg);
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.article_1 {
    /*max-width: 660px;*/
}

.article_1 .title_wrapp_1 {
    margin-top: 25px;
    margin-bottom: 60px;
}

.title_wrapp_1 p {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.title_wrapp_1 p b {
    display: inline-block;
    padding-bottom: 9px;
}

.thumbnails_1 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /*margin: 30px -20px 10px -20px;*/
    margin: 63px -20px 78px -20px;
}

.thumb_1 {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 42px);
    margin: 15px 20px;
}

.thumb_1 .img_box {
    height: 105px;
}

.thumb_1 .img_box img {

}

.thumb_1 p {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1D1D1B;
}

.article_1_wrapp {
    display: flex;
    display: -webkit-flex;
    position: relative;
}

.article_1_wrapp .col:nth-child(1) {
    width: 660px;
    position: relative;
    z-index: 2;
}

.article_1_wrapp .col:nth-child(2) {
    width: calc(100% - 660px);
}

.worker {
    display: block;
    height: auto;
    width: 824px;
    position: absolute;
    top: 20px;
    right: -205px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3 {
    background-image: url(img/bg_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dark_mask {
    position: relative;
}

.dark_mask:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.dark_mask .row {
    position: relative;
    z-index: 2;
}

.two_cols_2 {
    display: flex;
    display: -webkit-flex;
    margin: 23px 0 0 0;
}

.two_cols_2 .col:nth-child(1) {
    width: 41%;
    padding: 10px 10px 10px 0;
}

.two_cols_2 .col:nth-child(2) {
    width: 59%;
    padding: 10px 0 10px 10px;
}

.two_cols_2 h3 {
    color: #ffffff;
}

.video_wrapp_sect {
    position: relative;
}

.video_wrapp {
    margin: 63px 0 0 0;
    position: relative;
    z-index: 2;
}

.video_wrapp_sect .polygon {
    position: absolute;
    top: -154px;
    left: -164px;
}

.video_box {
    display: block;
    height: 270px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.video_box:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 2;
}

.video_box .video_img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.play_btn {
    width: 96px;
    height: 96px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.video_box:hover .play_btn {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.video_desc {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 25px 6% 15px 6%;
    background: #1D1D1B;
}

.video_desc p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.price_thumbnails_wrapp {
    padding: 39px 0 20px 0;
    position: relative;
}

.ligth_h3 {
    font-weight: normal;
}

.tr_4 {
    display: block;
    position: absolute;
    top: 10%;
    right: 8%;
}

.price_thumbnails_wrapp .ligth_h3 {
    text-align: center;
}

.price_thumbnails {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 91px 0 10px 0;
}

.price_thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    min-height: 340px;
    background-color: #FFFFFF;
    padding-bottom: 60px;
    position: relative;
}

.price_thumbnail .inner_wrapp {
    padding: 9px 20px;
}

.price_title_wrapp {
    position: relative;
    padding: 14px 0 13px 0;
    text-align: center;
}

.price_title_wrapp .inner {
    position: relative;
    z-index: 2;
}

.price_title_wrapp:before {
    display: block;
    content: "";
    width: 68px;
    height: 68px;
    background-image: url(img/yellow_tr.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
}

.price_title_wrapp h3 {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1D1D1B;
}

.price_thumbnail .desc_box {
    border-top: 1px solid #F1F1F1;
    margin-top: 8px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.price_thumbnail .desc_box:nth-child(1) {
    margin-top: 0;
    padding-top: 7px;
}

.price_thumbnail h4 {
    padding: 2px 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #1D1D1B;
}

.price_thumbnail p {
    padding-top: 8px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1D1D1B;
}

.button_wrapp {
    padding: 10px 0 13px 0;
}

.button_wrapp .yellow_pill {
    width: 100%;
}

.price_thumbnail .button_wrapp {
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.price_thumbnail .yellow_pill {
    display: block;
    min-width: 100%;
    padding: 10px 10px 10px 10px;
}

.price_thumbnail.best {
    margin: 0 -20px;
    min-height: 392px;
    padding: 10px 0 70px 0;
    width: calc(33.33% + 20px);
    position: relative;
    top: -30px;
    z-index: 10;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
}

.price_thumbnail.best .button_wrapp {
    padding: 10px 20px 23px 20px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.gallery_wrapp {

}

.h_wrapp {

}

.h_wrapp h2 {

}

.gallery {
    margin: 58px -9px;
}

.photo_box {
    display: inline-block;
    vertical-align: top;
    height: 280px;
    margin: 9px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo_title {
    min-height: 166px;
    width: 100%;
    padding-top: 87px;
    padding-left: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.photo_title:before {
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.photo_title:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 91px;
    left: -4px;
    background-image: url(img/right_yellow_tr.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.photo_title h3 {
    position: relative;
    z-index: 2;
/*    -webkit-transition-property: padding;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: padding;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: padding;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: padding;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: padding;
    transition-duration: .3s;
    transition-timing-function: ease;*/
}

.gallery .photo_box {
    width: calc(33.33% - 18px);
}

.gallery .photo_box.even {
    width: calc(66.66% - 18px);
}

.gallery .photo_box.even.w_2 {
    width: calc(33.33% - 18px);
}

.gallery .photo_box.even.w_2 + .photo_box {
    width: calc(66.66% - 18px);
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5 {
    background-image: url(img/bg_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article_2 {
    position: relative;
}

.article_2_desc {
    max-width: 470px;
    padding: 44px 0 61px 0;
    position: relative;
    z-index: 2;
}

.h_wrapp {

}

.article_2_desc h2 {
    padding: 13px 0;
    color: #FFFFFF;
}

.article_2_desc p {
    padding: 13px 0;
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.article_2_desc .yellow_pill {
    margin: 29px 0;
}

.tr_5 {
    position: absolute;
    top: 54px;
    right: -25%;
}

.tr_6 {
    position: absolute;
    bottom: 84px;
    right: 12%;
}

.calc {
    display: block;
    width: auto;
    height: auto;
    max-width: 833px;
    max-height: 833px;
    position: absolute;
    top: -169px;
    right: -5%;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6 {
    padding-top: 92px;
}

.z_2 {
    position: relative;
    z-index: 2;
}

.title_wrapp_2 {
    text-align: center;
}

.title_wrapp_2 h2 {
    font-weight: normal;
}

.triangle_bg {
    position: relative;
}

.articles_wrapp {
    position: relative;
    z-index: 2;
}

.bg_tr_1 {
    position: absolute;
    top: -48px;
    right: 0;
}

.bg_tr_2 {
    position: absolute;
    top: 50%;
    margin-top: -311px;
    left: 0;
    transform: rotate(-180deg);
}

.bg_tr_3 {
    position: absolute;
    bottom: -135px;
    right: 0;
}

.article_3 {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 101px 0;
}

.article_3:nth-child(1) {
    margin-top: 50px;
}

.article_3:last-child {
    margin-bottom: 33px;
}

.article_3 .col:nth-child(odd) {
    width: 50%;
    padding: 10px 4% 10px 0;
}

.article_3 .col:nth-child(even) {
    width: 50%;
    padding: 10px 0 10px 4%;
    text-align: right;
}

.article_3:nth-child(even) .col:nth-child(odd) {
    order: 2;
    padding: 10px 0 10px 4%;
}

.article_3:nth-child(even) .col:nth-child(even) {
    order: 1;
    padding: 10px 4% 10px 0;
    text-align: left;
}

/*.article_3:nth-child(even) .col:nth-child(even) {
    text-align: right;
}*/

.article_3_header {
    padding-top: 73px;
    position: relative;
}

.article_3_header:before {
    display: block;
    content: "";
    width: 68px;
    height: 68px;
    background-image: url(img/yellow_tr.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: -10px;
    left: 15px;
}

.article_3_header h3 {
    font-weight: normal;
}

.article_3_desc {
    padding-top: 33px;
    padding-left: 23px;
}

.items_wrapp {

}

.tex_item {
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.tex_item h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.tex_item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.article_3 ul {

}

.article_3 li {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.article_3 .img_box {
    display: inline-block;
    vertical-align: top;
    max-width: 98%;
}

.article_3 .img_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.sect_7 {
    background-image: url(img/bg_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 30px 0;
}

.services_wrapp {
    display: flex;
    display: -webkit-flex;
}

.services_wrapp .col:nth-child(1) {
    width: 28%;
    padding-top: 7px;
}

.services_wrapp .col:nth-child(2) {
    width: 72%;
}

.services_wrapp h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.service_items_wrapp {
    margin: 0 -20px;
}

.service_item {
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 40px);
    margin: 10px 20px;
}

.service_item .descript {
    min-height: 76px;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.service_item p {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.num_box {
    margin: 2px 0 6px 8px;
    position: relative;
    z-index: 2;
}

.num_box p {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.bg_item {
    position: relative;
}

.bg_item:before {
    display: block;
    content: "";
    width: 130px;
    height: 130px;
    background-image: url(img/yellow_tr.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 28px;
    left: -19px;
}

.bg_item .descript {
    background: #1D1D1B;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.h_wrapp_2 {

}

.h_wrapp_2 h3 {
    font-weight: normal;
}

.gallery_2 {
    margin: 57px 0;
    position: relative;
}

.photo_box_2 {
    position: relative;
    width: calc( 50% - 9px);
    height: 196px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.gallery_2 .photo_box_2:nth-child(1) {
    height: 410px;
}

.gallery_2 .photo_box_2:nth-child(2) {
    width: calc( 25% - 18px);
    position: absolute;
    top: 0;
    left: calc(50% + 9px);
}

.gallery_2 .photo_box_2:nth-child(3) {
    width: calc( 25% - 18px);
    position: absolute;
    top: 0;
    left: calc(75% + 9px);
}

.gallery_2 .photo_box_2:nth-child(4) {
    width: calc( 25% - 18px);
    position: absolute;
    top: 214px;
    left: calc(50% + 9px);
}

.gallery_2 .photo_box_2:nth-child(5) {
    width: calc( 25% - 18px);
    position: absolute;
    top: 214px;
    left: calc(75% + 9px);
}

.photo_box_2 .mask {
    /*display: none;*/
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.photo_box_2:hover .mask {
    opacity: 1;
}

.photo_box_2 .title_wrapp_3 {
    padding: 0 6%;
    position: absolute;
    bottom: 27px;
    left: 0;
}

.photo_box_2 h3 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.gallery_2 .photo_box_2:nth-child(1) h3 {
    padding-bottom: 33px;
    font-size: 24px;
    line-height: 29px;
}

.yellow_link {
    display: inline-block;
    vertical-align: top;
    padding: 0 2px;
    background: #FFD500;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-decoration: underline;
    color: #000000;
}

.yellow_link:hover {
    text-decoration: none;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 9 - Main Page --*/

.sect_9 {
    background-image: url(img/bg_4.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    margin-top: -200px;
    padding: 300px 0 149px 0;
}

.article_4 {
    background: rgba(241, 241, 241, .75);
    padding: 62px 6% 88px 6%;
    max-width: 545px;
}

.article_4 h3 {
    padding-bottom: 73px;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.article_4 p {
    padding-bottom: 110px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.article_4 p:last-child {
    padding-bottom: 40px;
}

.black_link {
    display: inline-block;
    vertical-align: top;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.black_link:hover {
    border-bottom: 1px solid transparent;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 10 - Main Page --*/

.sect_10 {
    padding: 3px 0 85px 0;
}

.prev_thumbs_sect {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -10px;
}

.prev_thumbs_sect .prev_thumb_wrapp {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
    margin: 20px 10px;
}

.prev_thumb_wrapp h3 {
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.prev_thumb {
    display: flex;
    display: -webkit-flex;
    margin: 56px 0 48px 0;
}

.prev_thumb .col:nth-child(1) {
    width: 250px;
}

.prev_thumb .col:nth-child(2) {
    width: calc(100% - 250px);
    padding-left: 27px;
    padding-right: 10px;
}

.prev_thumb .img_box {
    height: 165px;
    overflow: hidden;
    position: relative;
}

.prev_thumb .img_box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video_box_2 {
    height: 165px;
    overflow: hidden;
    position: relative;
}

.video_box_2 img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.play_btn_2 {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    background-image: url(img/play_btn_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.prev_thumb p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #656565;
}

p.date {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #656565;
}

.prev_thumb p.date {
    padding-bottom: 40px;
}

.transparent_pill {
    display: inline-block;
    vertical-align: top;
    min-width: 184px;
    border: 1px solid #FFD500;
    background-color: transparent;
    padding: 10px 10px;
    -webkit-box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    -moz-box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    box-shadow: 0 4px 16px rgba(249, 213, 24, .39);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D1D1B;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background-color, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background-color, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background-color, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.transparent_pill:hover {
    background-color: #FFD500;
    color: #ffffff;
}

/*-- /Section 10 - Main Page --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    padding: 1px 0;
}


/*- Popups --*/

body.fixed {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
}

.popup_sect {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    overflow-y: auto;
    background: rgba(0, 0, 0, .8);
    padding: 70px 0 30px 0;
}

.popup_wrapp {
    max-width: 430px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0 6px 55px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 6px 55px rgba(0, 0, 0, .15);
    box-shadow: 0 6px 55px rgba(0, 0, 0, .15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.close_btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
}

.popup_wrapp .close_btn {
    position: absolute;
    top: 10px;
    right: 20px;
}

.close {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(img/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.popup_form_wrapp {
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.input_wrapp {

}

input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 15px;
    border: 1px solid #ededed;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 39px;
    color: #000;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 8px 15px;
    border: 1px solid #ededed;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}


/*- /Popups --*/